<%= render "shared/navbar" %>
  <div class="container mt-2">
    <div class="row d-flex justify-content-center align-items-center flex-column">
      <div class="col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center align-items-center flex-column">

        <h3 class="text-center btn btn-ghost fs-4 mb-4">Tableau des réservations</h3>
        <div class="d-flex justify-content-center align-items-center flex-column">
          <%= form_with url: reservations_admin_exports_path, method: :get, local: true, data: { turbo: false } do %>
            <div class="d-flex flex-column justify-content-center align-items-start">
              <%= label_tag :date_debut, "Choisir une date de début", class: "my-2" %>
              <%= date_field_tag :date_debut, params[:date_debut] || 1.month.ago.to_date, required: true, class: "mb-3" %>
            </div>

            <div class="d-flex flex-column justify-content-center align-items-start">
              <%= label_tag :date_fin, "Choisir une date de fin", class: "my-2" %>
              <%= date_field_tag :date_fin, params[:date_fin] || Date.today, required: true, class: "mb-3" %>
            </div>

            <div class="d-flex flex-column justify-content-center align-items-start">
              <%= label_tag :format_export, "Format du fichier", class: "my-2" %>
              <%= select_tag :format_export, options_for_select([["PDF", "pdf"]], params[:format_export] || "pdf"), required: true %>
            </div>

            <div class="d-flex flex-column justify-content-center align-items-start">
              <%= submit_tag "Télécharger", class: "btn btn-home my-3" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center align-items-center flex-column">
            <%= link_to "Retour", root_path, class: "text-dark mt-3 text-decoration-underline" %>
      </div>
    </div>

  </div>
