
 <%= render "shared/navbar" %><div class="container">
  <div class="row justify-content-center">
   <h5 class="text-center mb-4 mt-2">
  <strong
    data-controller="typed"
    id="user_nom"
    data-typed-sentences-value='["Bonjour <%= j current_user.nom_complet %> !"]'>
  </strong>
</h5>

    <% @proprietes.each do |p| %>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center">
        <%= link_to propriete_path(p), class: "text-decoration-none text-reset w-100", style: "max-width: 20rem;" do %>
          <div class="card h-100 border-0 shadow-sm rounded-4 overflow-hidden hover-shadow">
            <% if p.nom == "Hendaye, appartement du haut" %>
              <%= image_tag "jumeaux.jpg", class: "card-img-top", id:"haut", style: "object-fit: cover; height: 200px;" %>
            <% elsif p.nom == "Hendaye, appartement du bas" %>
              <%= image_tag "jumeaux2.webp", class: "card-img-top", style: "object-fit: cover; height: 200px;" %>
            <% else %>
              <%= image_tag "préchac.jpg", class: "card-img-top", style: "object-fit: cover; height: 200px;" %>
            <% end %>
            <div class="card-body text-center">
              <h5 class="card-title fw-bold"><%= p.nom %></h5>
              <p class="card-text text-muted"><%= p.adresse %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="aquarelle mt-3">
    <div class="row justify-content-center">
      <div class="col-10 col-md-6 text-center">
        <%= image_tag"IMG_2162.jpg" %>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center ">
    <div class="col-12 col-md-6 d-flex justify-content-around text-center" id="icons">
      <%= image_tag "wave.png" %>
      <%= image_tag "love-home.png" %>
      <%= image_tag "mountain2.png" %>
    </div>
  </div>
</div>
