<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
      <% @proprietes.each do |p| %>
        <%= link_to propriete_path(p), class: "text-decoration-none text-reset" do %>
          <div class="card-propriete">
            <% if p.nom == "Hendaye, appartement du haut" %>
              <%= image_tag "jumeaux.jpg"%>
            <% elsif p.nom == "Hendaye, appartement du bas"%>
             <%= image_tag "jumeaux2.webp" %>
            <% else %>
              <%= image_tag "prechac.jpg" %>
            <% end %>
            <div class="card-propriete-infos">
              <h2 class="text-decoration-none"><%= p.nom %></h2>
              <p >  <%= p.adresse %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
