<div class="container mt-3">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-6 mx-auto">
      <% @reservations.each do |r| %>
        <div class="card mb-3">
          <div class="card-body">
            <p><strong>Réservation faite par <%= r.user.nom_complet %></strong></p>
            <p>Mail : <%= r.user.email %></p>
            <p>Propriété : <%= r.propriete.nom %></p>
            <p>Du  <%= r.date_debut.strftime("%d/%m/%Y") %> au  <%= r.date_fin.strftime("%d/%m/%Y") %></p>


              <%= link_to propriete_reservation_path(r.propriete, r), data: { turbo_method: :delete, turbo_confirm: "Es-tu sûr ?" } do %>
                <i class="fa-solid fa-trash text-dark me-3"></i>
              <% end %>
              <%= link_to edit_propriete_reservation_path(r.propriete, r) do %>
                <i class="fa-solid fa-pen-to-square text-dark"></i>
              <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
