<p>Une demande de reservation a été faite par :
<p><%= @reservation.user.email %></p>
<p>pour: <%= @reservation.propriete.nom %></p>
<p>du <%= @reservation.date_debut.strftime("%d/%m/%Y") %> au <%=@reservation.date_fin.strftime("%d/%m/%Y")%> </p>

<%= image_tag "https://www.family-loc.store/images/logo.png", alt: "Logo Family Loc" %>


<p>Merci d’utiliser Family Loc !</p>
<p>https://www.family-loc.store/</p>
