<p>Bonjour <%= @reservation.user.nom_complet %>,</p>
<p>Votre demande de réservation a bien été prise en compte et est en attente de validation</p>
 <p><strong>Détails de la réservation :</strong></p>
 <p><%= @reservation.propriete.nom %> </p>
 <p> Du <%= @reservation.date_debut.strftime("%d/%m/%Y") %> au <%= @reservation.date_fin.strftime("%d/%m/%Y")%></p>
 <p>Vous recevrez un email dès que le statut de la réservation sera mis à jour</p>
<%= image_tag "https://www.family-loc.store/images/logo.png", alt: "Logo Family Loc" %>

<p>Merci d’utiliser Family Loc !</p>
<p>https://www.family-loc.store/</p>
